<div class="row" data-bind="visible: visibilities.tablesListVisible">
    <div class="col-xs-12">
        <div class="content-header">
            <h1 data-bind="text: $root.localizedText('Section.TablesList.Title')"></h1>
            <p data-bind="text: $root.localizedText('Section.TablesList.Subtitle')"></p>
        </div>
    </div>

    <!-- ko foreach: tablesList.tables -->
    <div class="col-md-3 col-sm-6 col-xs-12" data-bind="click: $root.onClickTable">
        <div class="info-box">
            <span class="info-box-icon">
                <i class="ion-ios-folder-outline"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text" data-bind="text: name"></span>
                @*<span class="info-box-number">41,410</span>*@
            </div>
        </div>
    </div>
    <!-- /ko -->

</div>