<div class="row" data-bind="visible: visibilities.tableDetailsVisible">
    <!-- TABLES LIST -->
    <div class="col-xs-12">
        <div class="content-header">
            <h1 data-bind="text: $root.localizedText('Section.TableDetails.Title')"></h1>
            <p data-bind="text: $root.localizedText('Section.TableDetails.Subtitle')"></p>
        </div>
    </div>
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item visible-md visible-lg">
                <div class="row header">
                    <div class="col-xs-1">
                        <span>#</span>
                    </div>
                    <!-- ko foreach: tableDetails.columns -->
                    <div class="col-xs-1">
                        <span data-bind="text: localizedName() "></span>
                    </div>
                    <!-- /ko -->
                </div>
            </li>
            @*<!-- ko foreach: itemDetails.rows -->
            <li class="list-group-item visible-md visible-lg">
                <div class="row">
                    <div class="col-xs-1 data-checkbox">
                        <i class="pointer ion-x1 " aria-hidden="true" data-element-id="checkbox" data-bind="css: IsSelectedCssClass, click: $root.clickItemChangeSelection"></i>
                    </div>
                    <!-- ko foreach: Properties -->
                    <div class="col-xs-1">
                        <span data-bind="text: Value"></span>
                    </div>
                    <!-- /ko -->
                    <div class="col-xs-1 pull-right">
                        <i class="pointer ion-chevron-right ion-x1" aria-hidden="true" data-bind="click: $root.onClickItem"></i>
                    </div>
                </div>
            </li>
            <!-- /ko -->*@
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-12 text-center pointer">
                        <i class="ion-1x ion-chevron-down"></i>
                        <span data-bind="text: $root.localizedText('Section.ItemsList.Button.LoadMore')"></span>
                        <i class="ion-1x ion-chevron-down"></i>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- END LIST -->
</div>