<section class="tab-content">

    <section class="tab-pane active fade in content" id="dashboard">

        @Html.Partial("_Dashboard")

        @Html.Partial("_ItemsList")

        @Html.Partial("_Form")

    </section>

</section>   