<?xml version="1.0" encoding="utf-8"?>
<Configuration>

  <PageDimensions>
    <Dimension>20</Dimension>
    <Dimension>30</Dimension>
    <Dimension>50</Dimension>
  </PageDimensions>
  
  <!--
  1. the user is allowed to see only the list which are presents into the config
  2. 
  -->

  <ItemLists>
    <ItemList>
      <Type>Dog</Type>
    </ItemList> 
    <ItemList>
      <Type>Cat</Type>
    </ItemList>
  </ItemLists>  
  
</Configuration>