<div class="row" data-bind="visible: Visibilities.DashboardVisible">
    <div class="col-xs-12">
        <div class="content-header">
            <h1 data-bind="text: $root.localizedText('Section.Dashboard.Title')"></h1>
            <p data-bind="text: $root.localizedText('Section.Dashboard.Subtitle')"></p>
        </div>
    </div>

    <div class="col-xs-12">
        <nav class="navbar navbar-default no-background no-margin">
            <div class="container-fluid">
            </div>
        </nav>
    </div>

</div>
