<div class="row" data-bind="visible: Visibilities.FormVisible">
    <!-- FORM -->
    <div class="col-xs-12">
        <div class="content-header">
            <h1 data-bind="text: $root.localizedText('Section.Form.Title')"></h1>
            <p data-bind="text: $root.localizedText('Section.Form.Subtitle')"></p>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <!-- ko foreach: Form.Inputs -->
                    <div class="col-xs-12 col-md-6">
                        <!-- ko if: Type() == "Text" -->
                        <div class="form-group">
                            <label data-bind="text: DisplayName"></label>
                            <input type="text" class="form-control" data-bind="attr: {name: Name}, value: Value" >
                        </div>
                        <!-- /ko -->
                        <!-- ko if: Type() == "Lookup" -->
                        <div class="form-group">
                            <label data-bind="text: DisplayName"></label>
                            <select class="form-control" data-bind="attr: {name: Name}, options: Values, value: Value">
                            </select>
                        </div>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                </div>
            </div>

            <div class="panel-footer">
                <!--                
                // TODO: Questo elemento dovrebbe tornare alla lista precedente, filtrata in base alla tipologia
                <button type="button" class="btn btn-default" data-bind="click: onClickUndoSearch, text: $root.localizedText('Search.Button.Undo')"></button>
                -->
                <button type="button" class="btn btn-primary" data-bind="click: onClickExecuteForm, text: $root.localizedText('Search.Button.Execute')"></button>
            </div>
        </div>
    </div>
    <!-- END FORM -->
</div>