<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <!-- APPLICATIONS PATHs -->
  <add key="TemporaryDirectory" value="C:\Users\ivanp\Documents\Visual Studio 2017\Projects\Origin\Origin\Temp"/>
  <add key="ResourceFilesDirectory" value="C:\Users\ivanp\Documents\Visual Studio 2017\Projects\Origin\Origin\Resources" />
  <add key="ConfigurationDirectory" value="C:\Users\ivanp\Documents\Visual Studio 2017\Projects\Origin\Origin\_config\Development\settings.xml" />

</appSettings>