@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
    ViewBag.Title = "Invalid Export";
}

<div class="container">

    <div>
        <h2>404 - Resource Not Found</h2>

        <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
        </div>
        <p>Try checking the URL for errors, then hit the refresh button on your browser.</p>

    </div>
</div>
